<div dir="ltr">
    <div
        style="background-image:initial;background-position:initial;background-size:initial;background-repeat:initial;background-origin:initial;background-clip:initial;width:480px;font-family:Roboto,Helvetica,Arial,sans-serif;">
        <img src="https://raw.githubusercontent.com/rvx-raisul/invite/main/images/combo.png" alt=""
            class="gmail-CToWUd gmail-a6T" tabindex="0" style="cursor: pointer; outline: 0px; width: 480px;">

        <div style="color:rgba(0,0,0,0.87);font-size:14px;line-height:20px;padding:10px 48px;">
            <p style="margin-bottom: 20px;">Good news, <strong>{{ receiver_name }}</strong>!</p>
            <p style="margin-bottom: 20px;">
                <a href="mailto:{{ sender_email }}" target="_blank"
                    style="color:rgb(39,147,230);text-decoration:none">{{ sender_email }}</a>
                has invited you to join their <strong>YouTube Premium and Google One family group</strong>.
            </p>
            <p style="margin-bottom: 30px;">By joining this family group, you will be able to enjoy YouTube's premium
                features as well as get extra storage benefits from Google and have more space to use across Google
                Photos, Drive, Gmail, and Gemini Premium.</p>
        </div>
        <div style="padding:0px 16px 30px;text-align:center">
            <a href="{{ invite_link }}" target="_blank"
                style="display:inline-block;background-color:#1a73e8;color:#ffffff;border-radius:4px;font-size:14px;line-height:48px;padding:0px 24px;text-decoration:none;font-weight:500;margin:5px;">Accept
                Invitation</a>
        </div>
        <div style="color:rgba(0,0,0,0.54);font-size:14px;padding:0px 48px 30px;">
            <p>Thanks,<br>Premium Wala Team</p>
        </div>
    </div>
    <div style="font-size:12px;color:rgba(0,0,0,0.54);padding:16px;border-top:1px solid #e0e0e0;max-width:480px;">
        <p>© 2026 Premium Wala. All rights reserved.</p>
    </div>
</div>