<div dir="ltr">
    <div
        style="background-image:initial;background-position:initial;background-size:initial;background-repeat:initial;background-origin:initial;background-clip:initial;width:480px;font-family:Roboto,Helvetica,Arial,sans-serif;">
        <img src="https://raw.githubusercontent.com/rvx-raisul/invite/main/images/combo.png" alt=""
            class="gmail-CToWUd gmail-a6T" tabindex="0" style="cursor: pointer; outline: 0px; width: 480px;">

        <div style="color:rgba(0,0,0,0.87);font-size:14px;line-height:20px;padding:10px 48px;">
            <p style="margin-bottom: 20px;">সুখবর, <strong>{{ receiver_name }}</strong>!</p>
            <p style="margin-bottom: 20px;">
                <a href="mailto:{{ sender_email }}" target="_blank"
                    style="color:rgb(39,147,230);text-decoration:none">{{ sender_email }}</a>
                আপনাকে তাদের <strong>YouTube Premium এবং Google One ফ্যামিলি গ্রুপে</strong> একসাথে যোগ দিতে আমন্ত্রণ
                জানিয়েছেন।
            </p>
            <p style="margin-bottom: 30px;">এই ফ্যামিলি গ্রুপে যোগ দিলে আপনি YouTube-এর প্রিমিয়াম ফিচারের পাশাপাশি
                Google-এর অতিরিক্ত স্টোরেজ সুবিধা পাবেন এবং Google Photos, Drive, Gmail-এ বেশি জায়গা ও Gemini Premium
                ব্যবহার করতে
                পারবেন।</p>
        </div>
        <div style="padding:0px 16px 30px;text-align:center">
            <a href="{{ invite_link }}" target="_blank"
                style="display:inline-block;background-color:#1a73e8;color:#ffffff;border-radius:4px;font-size:14px;line-height:48px;padding:0px 24px;text-decoration:none;font-weight:500;margin:5px;">আমন্ত্রণ
                গ্রহণ করুন</a>
        </div>
        <div style="color:rgba(0,0,0,0.54);font-size:14px;padding:0px 48px 30px;">
            <p>ধন্যবাদ,<br>Premium Wala টিম</p>
        </div>
    </div>
    <div style="font-size:12px;color:rgba(0,0,0,0.54);padding:16px;border-top:1px solid #e0e0e0;max-width:480px;">
        <p>© 2026 Premium Wala. All rights reserved.</p>
    </div>
</div>