<div dir="ltr">
    <div
        style="background-image:initial;background-position:initial;background-size:initial;background-repeat:initial;background-origin:initial;background-clip:initial;width:480px">
        <img src="https://raw.githubusercontent.com/rvx-raisul/invite/main/images/google1.png" alt="Google"
            class="gmail-CToWUd gmail-a6T" tabindex="0" style="cursor: pointer; outline: 0px; width: 480px;">
        <div
            style="color:rgba(0,0,0,0.87);font-style:normal;font-variant:normal;font-size-adjust:none;font-kerning:auto;font-feature-settings:normal;font-stretch:normal;font-size:20px;line-height:normal;font-family:Helvetica-Light,Helvetica,Arial,sans-serif;padding:30px 48px">
            à¦¸à§à¦–à¦¬à¦°, {{ receiver_name }}!</div>
        <p
            style="font-style:normal;font-variant:normal;font-size-adjust:none;font-kerning:auto;font-feature-settings:normal;font-stretch:normal;line-height:22px;font-family:Helvetica-Light,Helvetica,Arial,sans-serif;padding:0px 48px 30px;margin:0px">
            <font style="font-size: 14px;">
                <a href="mailto:{{ sender_email }}" target="_blank"
                    style="color:rgb(39,147,230);text-decoration:none">{{ sender_email }}</a>
                <font color="rgba(0, 0, 0, 0.54)" style="">&nbsp;</font>
                <font color="#000000" style="">à¦†à¦ªà¦¨à¦¾à¦•à§‡ à¦¤à¦¾à¦¦à§‡à¦°&nbsp;&nbsp;</font>
                <font color="#000000">
                    <strong style="font-family:Arial,Helvetica,sans-serif;background-color:transparent">Google One
                        à¦«à§ à¦¯à¦¾à¦®à¦¿à¦²à¦¿ à¦—à§ à¦°à§ à¦ªà§‡</strong>
                    <span style="font-family:Arial,Helvetica,sans-serif;background-color:transparent"> à¦¯à§‹à¦—
                        à¦¦à¦¿à¦¤à§‡ à¦†à¦®à¦¨à§ à¦¤à§ à¦°à¦£
                        à¦œà¦¾à¦¨à¦¿à§Ÿà§‡à¦›à§‡à¦¨</span>
                    <span style="background-color:transparent">। এই ফ্যামিলি গ্রুপে যোগ দিলে আপনি Google-এর অতিরিক্ত
                        স্টোরেজ সুবিধা পাবেন এবং Google Photos, Drive, Gmail-এ বেশি জায়গা এবং Gemini Premium ব্যবহার
                        করতে পারবেন।</span>
                </font>
            </font>
        </p>
        <div style="padding:0px 16px 30px;text-align:center">
            <div
                style="background:#1a73e8;border-radius:3px;display:inline-block;font-style:normal;font-variant:normal;font-size-adjust:none;font-kerning:auto;font-feature-settings:normal;font-stretch:normal;font-size:14px;line-height:48px;font-family:Helvetica-Light,Helvetica,Arial,sans-serif;height:48px;min-width:88px">
                <a href="{{ invite_link }}" target="_blank"
                    style="color:rgb(255,255,255);text-decoration:none;display:block;padding:0px 16px">à¦†à¦®à¦¨à§à¦¤à§à¦°à¦£
                    à¦—à§à¦°à¦¹à¦£
                    à¦•à¦°à§à¦¨</a>
            </div>
        </div>
        <p
            style="color:rgba(0,0,0,0.54);font-style:normal;font-variant:normal;font-size-adjust:none;font-kerning:auto;font-feature-settings:normal;font-stretch:normal;font-size:14px;line-height:22px;font-family:Helvetica-Light,Helvetica,Arial,sans-serif;padding:0px 48px 30px;margin:0px">
            à¦§à¦¨à§à¦¯à¦¬à¦¾à¦¦,<br>Premium Wala à¦Ÿà¦¿à¦®</p>
    </div>
    <div
        style="font-style:normal;font-variant:normal;font-size-adjust:none;font-kerning:auto;font-feature-settings:normal;font-stretch:normal;font-size:12px;line-height:normal;font-family:Helvetica-Light,Helvetica,Arial,sans-serif;color:rgba(0,0,0,0.54);padding:16px 16px 0px">
        <p>Â© 2026 Premium Wala. All rights reserved.</p>
        <p><a href="https://support.google.com/" target="_blank"
                style="color:rgb(39,147,230);text-decoration:none">à¦Ÿà¦¾à¦•à¦¾ à¦¦à¦¿à§Ÿà§‡ à¦•à§‡à¦¨à¦¾
                à¦ªà¦°à¦¿à¦·à§‡à¦¬à¦¾
                à¦¸à¦®à§à¦ªà¦°à§à¦•à¦¿à¦¤ à¦¶à¦°à§à¦¤à¦¾à¦¬à¦²à¦¿</a></p>
    </div>
</div>