<div dir="ltr">
    <div
        style="background-image:initial;background-position:initial;background-size:initial;background-repeat:initial;background-origin:initial;background-clip:initial;width:480px">
        <img src="https://raw.githubusercontent.com/rvx-raisul/invite/main/images/google1.png" alt="Google"
            class="gmail-CToWUd gmail-a6T" tabindex="0" style="cursor: pointer; outline: 0px; width: 480px;">
        <div
            style="color:rgba(0,0,0,0.87);font-style:normal;font-variant:normal;font-size-adjust:none;font-kerning:auto;font-feature-settings:normal;font-stretch:normal;font-size:24px;line-height:normal;font-family:Helvetica-Light,Helvetica,Arial,sans-serif;padding:30px 48px">
            Good news, {{ receiver_name }}!</div>
        <p
            style="font-style:normal;font-variant:normal;font-size-adjust:none;font-kerning:auto;font-feature-settings:normal;font-stretch:normal;line-height:30px;font-family:Helvetica-Light,Helvetica,Arial,sans-serif;padding:0px 48px 30px;margin:0px">
            <font size="4">
                <a href="mailto:{{ sender_email }}" target="_blank"
                    style="color:rgb(39,147,230);text-decoration:none">{{ sender_email }}</a>
                <font color="rgba(0, 0, 0, 0.54)" style="">&nbsp;</font>
                <font color="#000000" style="">has invited you to join their&nbsp;&nbsp;</font>
                <font color="#000000">
                    <strong style="font-family:Arial,Helvetica,sans-serif;background-color:transparent">Google One
                        family group</strong>
                    <span style="background-color:transparent">. By joining this family group, you will get extra
                        storage benefits from Google and have more space to use across Google Photos, Drive, and
                        Gmail.</span>
                </font>
            </font>
        </p>
        <p
            style="color:rgba(0,0,0,0.54);font-style:normal;font-variant:normal;font-size-adjust:none;font-kerning:auto;font-feature-settings:normal;font-stretch:normal;font-size:16px;line-height:30px;font-family:Helvetica-Light,Helvetica,Arial,sans-serif;padding:0px 48px 30px;margin:0px">
            <br>To learn more about your Google One membership, see your&nbsp;<a href="https://support.google.com/" target="_blank"
                style="color:rgb(39,147,230);text-decoration:none">Google One account settings</a><br>
            <a href="https://support.google.com/" target="_blank" style="color:rgb(39,147,230);text-decoration:none">Learn more</a>
        </p>
        <div style="padding:0px 16px 30px;text-align:center">
            <div
                style="background:#1a73e8;border-radius:3px;display:inline-block;font-style:normal;font-variant:normal;font-size-adjust:none;font-kerning:auto;font-feature-settings:normal;font-stretch:normal;font-size:16px;line-height:48px;font-family:Helvetica-Light,Helvetica,Arial,sans-serif;height:48px;min-width:88px">
                <a href="{{ invite_link }}" target="_blank"
                    style="color:rgb(255,255,255);text-decoration:none;display:block;padding:0px 16px">Accept
                    Invitation</a>
            </div>
        </div>
        <p
            style="color:rgba(0,0,0,0.54);font-style:normal;font-variant:normal;font-size-adjust:none;font-kerning:auto;font-feature-settings:normal;font-stretch:normal;font-size:16px;line-height:30px;font-family:Helvetica-Light,Helvetica,Arial,sans-serif;padding:0px 48px 30px;margin:0px">
            Thanks,<br>Premium Wala Team</p>
    </div>
    <div
        style="font-style:normal;font-variant:normal;font-size-adjust:none;font-kerning:auto;font-feature-settings:normal;font-stretch:normal;font-size:12px;line-height:normal;font-family:Helvetica-Light,Helvetica,Arial,sans-serif;color:rgba(0,0,0,0.54);padding:16px 16px 0px">
        <p>© 2026 Premium Wala. All rights reserved.</p>
        <p><a href="https://support.google.com/" target="_blank" style="color:rgb(39,147,230);text-decoration:none">Terms and Conditions for paid
                services</a></p>
    </div>
</div>
