<div dir="ltr">
    <div style="background-image:initial;background-position:initial;background-size:initial;background-repeat:initial;background-origin:initial;background-clip:initial;width:480px">
        <img src="https://raw.githubusercontent.com/rvx-raisul/invite/main/images/Youtube.png" alt="" class="gmail-CToWUd gmail-a6T" tabindex="0" style="cursor: pointer; outline: 0px; width: 480px;">
        <div style="color:rgba(0,0,0,0.87);font-style:normal;font-variant:normal;font-size-adjust:none;font-kerning:auto;font-feature-settings:normal;font-stretch:normal;font-size:24px;line-height:normal;font-family:Helvetica-Light,Helvetica,Arial,sans-serif;padding:30px 48px">সুখবর, {{ receiver_name }}!</div>
        <p style="font-style:normal;font-variant:normal;font-size-adjust:none;font-kerning:auto;font-feature-settings:normal;font-stretch:normal;line-height:30px;font-family:Helvetica-Light,Helvetica,Arial,sans-serif;padding:0px 48px 30px;margin:0px">
            <font size="4">
                <a href="mailto:{{ sender_email }}" target="_blank" style="color:rgb(39,147,230);text-decoration:none">{{ sender_email }}</a><font color="rgba(0, 0, 0, 0.54)" style="">&nbsp;</font>
                <font color="#000000" style="">আপনাকে তাদের&nbsp;&nbsp;</font>
                <font color="#000000">
                    <strong style="font-family:Arial,Helvetica,sans-serif;background-color:transparent">YouTube Premium Family</strong>
                    <span style="font-family:Arial,Helvetica,sans-serif;background-color:transparent">-তে যোগ দিতে আমন্ত্রণ জানিয়েছেন</span>
                    <span style="background-color:transparent">। এই ফ্যামিলি গ্রুপে যোগ দিলে আপনি অনেক প্রিমিয়াম ফিচারের পাশাপাশি Google-এ অন্যান্য ফ্যামিলি পরিষেবার আনন্দ লাভ করতে পারবেন।</span>
                </font>
            </font>
        </p>
        <p style="color:rgba(0,0,0,0.54);font-style:normal;font-variant:normal;font-size-adjust:none;font-kerning:auto;font-feature-settings:normal;font-stretch:normal;font-size:16px;line-height:30px;font-family:Helvetica-Light,Helvetica,Arial,sans-serif;padding:0px 48px 30px;margin:0px">
            <br>আপনার YouTube সদস্যতার বিষয়ে আরও জানতে&nbsp;<a href="https://support.google.com/" target="_blank" style="color:rgb(39,147,230);text-decoration:none">YouTube অ্যাকাউন্ট সেটিংস</a>&nbsp;দেখুন<br>
            <a href="https://support.google.com/" target="_blank" style="color:rgb(39,147,230);text-decoration:none">আরও জানুন</a>
        </p>
        <div style="padding:0px 16px 30px;text-align:center">
            <div style="background:rgb(255,0,0);border-radius:3px;display:inline-block;font-style:normal;font-variant:normal;font-size-adjust:none;font-kerning:auto;font-feature-settings:normal;font-stretch:normal;font-size:16px;line-height:48px;font-family:Helvetica-Light,Helvetica,Arial,sans-serif;height:48px;min-width:88px">
                <a href="{{ invite_link }}" target="_blank" style="color:rgb(255,255,255);text-decoration:none;display:block;padding:0px 16px">আমন্ত্রণ গ্রহণ করুন</a>
            </div>
        </div>
        <p style="color:rgba(0,0,0,0.54);font-style:normal;font-variant:normal;font-size-adjust:none;font-kerning:auto;font-feature-settings:normal;font-stretch:normal;font-size:16px;line-height:30px;font-family:Helvetica-Light,Helvetica,Arial,sans-serif;padding:0px 48px 30px;margin:0px">ধন্যবাদ,<br>Premium Wala টিম</p>
    </div>
    <div style="font-style:normal;font-variant:normal;font-size-adjust:none;font-kerning:auto;font-feature-settings:normal;font-stretch:normal;font-size:12px;line-height:normal;font-family:Helvetica-Light,Helvetica,Arial,sans-serif;color:rgba(0,0,0,0.54);padding:16px 16px 0px">
        <p>© 2026 Premium Wala. All rights reserved.</p>
        <p><a href="https://support.google.com/" target="_blank" style="color:rgb(39,147,230);text-decoration:none">টাকা দিয়ে কেনা পরিষেবা সম্পর্কিত শর্তাবলি</a></p>
    </div>
</div>
